USE [DB_AssetManage]
GO
/****** Object:  Table [dbo].[ActStatus]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActStatus](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSETTYPE]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSETTYPE](
	[ID_ASSETTYPE] [int] IDENTITY(1,1) NOT NULL,
	[AssetType] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ASSETTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID_category] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPLETION_ACTS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPLETION_ACTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[act_number] [nvarchar](100) NOT NULL,
	[work_act_id] [int] NULL,
	[completion_date] [date] NULL,
	[supervisor_id] [int] NULL,
	[quality_check] [bit] NULL,
	[comments] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENT]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[asset_id] [nvarchar](100) NULL,
	[equipment_type] [nvarchar](100) NULL,
	[manufacturer] [nvarchar](255) NULL,
	[installation_date] [date] NULL,
	[Workshop_id] [int] NULL,
	[warranty_period_months] [int] NULL,
	[last_maintenance_date] [date] NULL,
	[next_maintenance_date] [date] NULL,
	[operational_status] [nvarchar](100) NULL,
	[assigned_to] [int] NULL,
	[current_work_hours] [int] NULL,
	[max_work_hours_before_maintenance] [int] NULL,
	[status] [int] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENT_PURCHASES]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT_PURCHASES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_number] [nvarchar](100) NOT NULL,
	[asset_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](15, 2) NULL,
	[total_cost] [decimal](15, 2) NULL,
	[order_date] [date] NULL,
	[expected_delivery] [date] NULL,
	[actual_delivery] [date] NULL,
	[status] [int] NULL,
	[supplier_id] [int] NULL,
	[purchase_manager_id] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINISHED_PRODUCTS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINISHED_PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [nvarchar](100) NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[unit] [int] NULL,
	[quantity] [decimal](15, 2) NULL,
	[warehouse_location] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAINTENANCE]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAINTENANCE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NULL,
	[maintenance_date] [date] NULL,
	[maintenance_type] [nvarchar](100) NULL,
	[technician_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[cost] [decimal](15, 2) NULL,
	[downtime_hours] [int] NULL,
	[parts_replaced] [nvarchar](max) NULL,
	[next_maintenance_date] [date] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTERS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[specialty] [int] NULL,
	[skill_level] [nvarchar](100) NULL,
	[qualifications] [int] NULL,
	[hire_date] [date] NULL,
	[is_available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_ASSETS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_ASSETS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[asset_type] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[id_category] [int] NULL,
	[unit] [int] NULL,
	[quantity] [decimal](15, 2) NULL,
	[min_quantity] [decimal](15, 2) NULL,
	[warehouse_location] [nvarchar](100) NULL,
	[workshop_id] [int] NULL,
	[supplier_id] [int] NULL,
	[purchase_date] [date] NULL,
	[purchase_cost] [decimal](15, 2) NULL,
	[current_value] [decimal](15, 2) NULL,
	[status] [int] NULL,
	[serial_number] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUALIFICATION]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUALIFICATION](
	[ID_Qualification] [int] IDENTITY(1,1) NOT NULL,
	[Qualification] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Qualification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[report_type] [nvarchar](100) NOT NULL,
	[period_start] [date] NULL,
	[period_end] [date] NULL,
	[generated_by] [int] NULL,
	[report_data] [nvarchar](max) NULL,
	[file_path] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPECIALTY]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALTY](
	[ID_specialty] [int] IDENTITY(1,1) NOT NULL,
	[Speciality] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_specialty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_PURCHASE]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_PURCHASE](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUSASSETS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUSASSETS](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[contact_person] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[address] [nvarchar](max) NULL,
	[tax_number] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[quantity] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[role_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_ACTS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_ACTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[act_number] [nvarchar](100) NOT NULL,
	[work_date] [date] NULL,
	[master_id] [int] NULL,
	[work_type] [nvarchar](100) NULL,
	[equipment_id] [int] NULL,
	[asset_id] [int] NULL,
	[quantity] [decimal](15, 2) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_ACTS_MATERIALS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_ACTS_MATERIALS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[work_act_id] [int] NULL,
	[asset_id] [int] NULL,
	[quantity_used] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKSHOPS]    Script Date: 25.02.2026 15:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKSHOPS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[location] [nvarchar](255) NULL,
	[manager_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActStatus] ON 

INSERT [dbo].[ActStatus] ([ID_status], [Status]) VALUES (1, N'В работе')
INSERT [dbo].[ActStatus] ([ID_status], [Status]) VALUES (2, N'Выполнен')
INSERT [dbo].[ActStatus] ([ID_status], [Status]) VALUES (3, N'Отменен')
SET IDENTITY_INSERT [dbo].[ActStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ASSETTYPE] ON 

INSERT [dbo].[ASSETTYPE] ([ID_ASSETTYPE], [AssetType]) VALUES (1, N'Сырье')
INSERT [dbo].[ASSETTYPE] ([ID_ASSETTYPE], [AssetType]) VALUES (2, N'Материал')
INSERT [dbo].[ASSETTYPE] ([ID_ASSETTYPE], [AssetType]) VALUES (3, N'Комплектующие')
SET IDENTITY_INSERT [dbo].[ASSETTYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([ID_category], [Category]) VALUES (2, N'Станочное оборудование')
INSERT [dbo].[CATEGORY] ([ID_category], [Category]) VALUES (3, N'Подъёмно-транспортное')
INSERT [dbo].[CATEGORY] ([ID_category], [Category]) VALUES (4, N'Измерительное оборудование')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[MASTERS] ON 

INSERT [dbo].[MASTERS] ([id], [user_id], [specialty], [skill_level], [qualifications], [hire_date], [is_available]) VALUES (1, 11, 1, N'высокий', 6, CAST(N'2020-03-15' AS Date), 0)
INSERT [dbo].[MASTERS] ([id], [user_id], [specialty], [skill_level], [qualifications], [hire_date], [is_available]) VALUES (2, 12, 2, N'Средний', 4, CAST(N'2021-05-20' AS Date), 1)
INSERT [dbo].[MASTERS] ([id], [user_id], [specialty], [skill_level], [qualifications], [hire_date], [is_available]) VALUES (4, 4, 4, N'Средний', 4, CAST(N'2022-01-12' AS Date), 1)
SET IDENTITY_INSERT [dbo].[MASTERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTION_ASSETS] ON 

SET IDENTITY_INSERT [dbo].[PRODUCTION_ASSETS] OFF
GO
SET IDENTITY_INSERT [dbo].[QUALIFICATION] ON 

INSERT [dbo].[QUALIFICATION] ([ID_Qualification], [Qualification]) VALUES (1, N'1-й разряд')
INSERT [dbo].[QUALIFICATION] ([ID_Qualification], [Qualification]) VALUES (2, N'2-й разряд')
INSERT [dbo].[QUALIFICATION] ([ID_Qualification], [Qualification]) VALUES (3, N'3-й разряд')
SET IDENTITY_INSERT [dbo].[QUALIFICATION] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([id], [name], [description]) VALUES (1, N'Администратор', N'Полный доступ к системе')
INSERT [dbo].[ROLES] ([id], [name], [description]) VALUES (2, N'Мастер', N'Работа с оборудованием и актами')
INSERT [dbo].[ROLES] ([id], [name], [description]) VALUES (3, N'Кладовщик', N'Учет материалов и готовой продукции')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[SPECIALTY] ON 

INSERT [dbo].[SPECIALTY] ([ID_specialty], [Speciality], [description]) VALUES (1, N'Токарь', N'Работа на токарных станках, обработка металлов резанием')
INSERT [dbo].[SPECIALTY] ([ID_specialty], [Speciality], [description]) VALUES (2, N'Фрезеровщик', N'Работа на фрезерных станках, обработка плоскостей и пазов')
INSERT [dbo].[SPECIALTY] ([ID_specialty], [Speciality], [description]) VALUES (3, N'Сварщик', N'Электродуговая, газовая сварка металлоконструкций')
SET IDENTITY_INSERT [dbo].[SPECIALTY] OFF
GO
SET IDENTITY_INSERT [dbo].[STATUS_PURCHASE] ON 

INSERT [dbo].[STATUS_PURCHASE] ([ID_status], [Status]) VALUES (1, N'Заказан')
INSERT [dbo].[STATUS_PURCHASE] ([ID_status], [Status]) VALUES (2, N'Ожидается поставка')
INSERT [dbo].[STATUS_PURCHASE] ([ID_status], [Status]) VALUES (3, N'Доставлен')
SET IDENTITY_INSERT [dbo].[STATUS_PURCHASE] OFF
GO
SET IDENTITY_INSERT [dbo].[STATUSASSETS] ON 

INSERT [dbo].[STATUSASSETS] ([ID_status], [Status]) VALUES (1, N'Исправен')
INSERT [dbo].[STATUSASSETS] ([ID_status], [Status]) VALUES (3, N'Списан')
INSERT [dbo].[STATUSASSETS] ([ID_status], [Status]) VALUES (4, N'В резерве')
SET IDENTITY_INSERT [dbo].[STATUSASSETS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIERS] ON 

INSERT [dbo].[SUPPLIERS] ([id], [name], [contact_person], [phone], [email], [address], [tax_number], [is_active], [created_at]) VALUES (1, N'ТТТ ок вк', N'Тайванчик Виктор Геннадьевич', N'+7(999)147-07-77', N'TaivanRulit@taivan.com', N'Г.Тайвань, Тайваньская улица 36', N'123412412521', 1, CAST(N'2026-02-25T08:42:15.340' AS DateTime))
INSERT [dbo].[SUPPLIERS] ([id], [name], [contact_person], [phone], [email], [address], [tax_number], [is_active], [created_at]) VALUES (2, N'ОМГ мазда', N'Тайота Супра Финал', N'', N'+73(434)322-23-22', N'Япония. г. Токио. Ленина 33а', N'2358966261', 1, CAST(N'2026-02-25T10:57:18.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUPPLIERS] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([ID], [unit], [quantity]) VALUES (5, N'кг', CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[Unit] ([ID], [unit], [quantity]) VALUES (6, N'л', CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[Unit] ([ID], [unit], [quantity]) VALUES (7, N'шт', CAST(0.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([id], [username], [password], [full_name], [email], [phone], [role_id], [created_at]) VALUES (1, N'admin', N'admin123', N'Администратор', N's.tanker.s@mail.ru', N'+7(993)053-05-23', 1, CAST(N'2026-02-16T00:10:09.010' AS DateTime))
INSERT [dbo].[USERS] ([id], [username], [password], [full_name], [email], [phone], [role_id], [created_at]) VALUES (2, N'masterOfic', N'master123', N'Казанчеев Сергей', N'feraltron@gmail.com', N'+7(917)735-23-98', 2, CAST(N'2026-02-16T00:10:09.010' AS DateTime))
INSERT [dbo].[USERS] ([id], [username], [password], [full_name], [email], [phone], [role_id], [created_at]) VALUES (3, N'storekeeper', N'store123', N'Муллагалиев Денис', N'mulagdenchik@mail.ru', N'+7(993)136-38-62', 3, CAST(N'2026-02-16T00:10:09.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET IDENTITY_INSERT [dbo].[WORKSHOPS] ON 

INSERT [dbo].[WORKSHOPS] ([id], [name], [location], [manager_id], [created_at]) VALUES (3, N'№2 Переварочный', N'посередине судна', 8, CAST(N'2026-02-25T09:28:16.097' AS DateTime))
INSERT [dbo].[WORKSHOPS] ([id], [name], [location], [manager_id], [created_at]) VALUES (4, N'№1 Сварочный', N'Левая часть судна', 4, CAST(N'2026-02-25T09:33:17.417' AS DateTime))
INSERT [dbo].[WORKSHOPS] ([id], [name], [location], [manager_id], [created_at]) VALUES (5, N'Склад металлов', N'', 2, CAST(N'2026-02-25T14:55:16.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[WORKSHOPS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COMPLETI__4F2C0BF951A1FF0A]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[COMPLETION_ACTS] ADD UNIQUE NONCLUSTERED 
(
	[act_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EQUIPMEN__D28B561CE3AB4DFC]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[EQUIPMENT] ADD UNIQUE NONCLUSTERED 
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EQUIPMEN__48EEF8AA3D4361CF]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES] ADD UNIQUE NONCLUSTERED 
(
	[purchase_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FINISHED__AE1A8CC4F0E7E00C]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[FINISHED_PRODUCTS] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MASTERS__B9BE370E17E4D863]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[MASTERS] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PRODUCTI__BED14FEE2E75D383]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[PRODUCTION_ASSETS] ADD UNIQUE NONCLUSTERED 
(
	[serial_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Unit__7B45D0E14A7CEED6]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[Unit] ADD UNIQUE NONCLUSTERED 
(
	[unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__F3DBC57240840D07]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__WORK_ACT__4F2C0BF91283A95B]    Script Date: 25.02.2026 15:43:18 ******/
ALTER TABLE [dbo].[WORK_ACTS] ADD UNIQUE NONCLUSTERED 
(
	[act_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPLETION_ACTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[EQUIPMENT] ADD  DEFAULT ((0)) FOR [current_work_hours]
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[FINISHED_PRODUCTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MAINTENANCE] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MASTERS] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[REPORTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[WORK_ACTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[WORKSHOPS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[COMPLETION_ACTS]  WITH CHECK ADD  CONSTRAINT [FK_COMPLACTS_SUPERVISOR] FOREIGN KEY([supervisor_id])
REFERENCES [dbo].[MASTERS] ([id])
GO
ALTER TABLE [dbo].[COMPLETION_ACTS] CHECK CONSTRAINT [FK_COMPLACTS_SUPERVISOR]
GO
ALTER TABLE [dbo].[COMPLETION_ACTS]  WITH CHECK ADD  CONSTRAINT [FK_COMPLACTS_WORKACT] FOREIGN KEY([work_act_id])
REFERENCES [dbo].[WORK_ACTS] ([id])
GO
ALTER TABLE [dbo].[COMPLETION_ACTS] CHECK CONSTRAINT [FK_COMPLACTS_WORKACT]
GO
ALTER TABLE [dbo].[EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPMENT_MASTER] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[MASTERS] ([id])
GO
ALTER TABLE [dbo].[EQUIPMENT] CHECK CONSTRAINT [FK_EQUIPMENT_MASTER]
GO
ALTER TABLE [dbo].[EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPMENT_STATUS] FOREIGN KEY([status])
REFERENCES [dbo].[STATUSASSETS] ([ID_status])
GO
ALTER TABLE [dbo].[EQUIPMENT] CHECK CONSTRAINT [FK_EQUIPMENT_STATUS]
GO
ALTER TABLE [dbo].[EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPMENT_WORKSHOP] FOREIGN KEY([Workshop_id])
REFERENCES [dbo].[WORKSHOPS] ([id])
GO
ALTER TABLE [dbo].[EQUIPMENT] CHECK CONSTRAINT [FK_EQUIPMENT_WORKSHOP]
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPPURCH_EQUIPMENT] FOREIGN KEY([asset_id])
REFERENCES [dbo].[EQUIPMENT] ([ID])
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES] CHECK CONSTRAINT [FK_EQUIPPURCH_EQUIPMENT]
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPPURCH_MASTER] FOREIGN KEY([purchase_manager_id])
REFERENCES [dbo].[MASTERS] ([id])
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES] CHECK CONSTRAINT [FK_EQUIPPURCH_MASTER]
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPPURCH_STATUS] FOREIGN KEY([status])
REFERENCES [dbo].[STATUS_PURCHASE] ([ID_status])
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES] CHECK CONSTRAINT [FK_EQUIPPURCH_STATUS]
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPPURCH_SUPPLIER] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[SUPPLIERS] ([id])
GO
ALTER TABLE [dbo].[EQUIPMENT_PURCHASES] CHECK CONSTRAINT [FK_EQUIPPURCH_SUPPLIER]
GO
ALTER TABLE [dbo].[FINISHED_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_FINISHEDPROD_UNIT] FOREIGN KEY([unit])
REFERENCES [dbo].[Unit] ([ID])
GO
ALTER TABLE [dbo].[FINISHED_PRODUCTS] CHECK CONSTRAINT [FK_FINISHEDPROD_UNIT]
GO
ALTER TABLE [dbo].[MAINTENANCE]  WITH CHECK ADD  CONSTRAINT [FK_MAINTENANCE_EQUIPMENT] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[EQUIPMENT] ([ID])
GO
ALTER TABLE [dbo].[MAINTENANCE] CHECK CONSTRAINT [FK_MAINTENANCE_EQUIPMENT]
GO
ALTER TABLE [dbo].[MAINTENANCE]  WITH CHECK ADD  CONSTRAINT [FK_MAINTENANCE_STATUS] FOREIGN KEY([status])
REFERENCES [dbo].[STATUSASSETS] ([ID_status])
GO
ALTER TABLE [dbo].[MAINTENANCE] CHECK CONSTRAINT [FK_MAINTENANCE_STATUS]
GO
ALTER TABLE [dbo].[MAINTENANCE]  WITH CHECK ADD  CONSTRAINT [FK_MAINTENANCE_TECHNICIAN] FOREIGN KEY([technician_id])
REFERENCES [dbo].[MASTERS] ([id])
GO
ALTER TABLE [dbo].[MAINTENANCE] CHECK CONSTRAINT [FK_MAINTENANCE_TECHNICIAN]
GO
ALTER TABLE [dbo].[MASTERS]  WITH CHECK ADD  CONSTRAINT [FK_MASTERS_QUALIFICATION] FOREIGN KEY([qualifications])
REFERENCES [dbo].[QUALIFICATION] ([ID_Qualification])
GO
ALTER TABLE [dbo].[MASTERS] CHECK CONSTRAINT [FK_MASTERS_QUALIFICATION]
GO
ALTER TABLE [dbo].[MASTERS]  WITH CHECK ADD  CONSTRAINT [FK_MASTERS_SPECIALTY] FOREIGN KEY([specialty])
REFERENCES [dbo].[SPECIALTY] ([ID_specialty])
GO
ALTER TABLE [dbo].[MASTERS] CHECK CONSTRAINT [FK_MASTERS_SPECIALTY]
GO
ALTER TABLE [dbo].[MASTERS]  WITH CHECK ADD  CONSTRAINT [FK_MASTERS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[MASTERS] CHECK CONSTRAINT [FK_MASTERS_USERS]
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_PRODASSETS_ASSETTYPE] FOREIGN KEY([asset_type])
REFERENCES [dbo].[ASSETTYPE] ([ID_ASSETTYPE])
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS] CHECK CONSTRAINT [FK_PRODASSETS_ASSETTYPE]
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_PRODASSETS_CATEGORY] FOREIGN KEY([id_category])
REFERENCES [dbo].[CATEGORY] ([ID_category])
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS] CHECK CONSTRAINT [FK_PRODASSETS_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_PRODASSETS_STATUS] FOREIGN KEY([status])
REFERENCES [dbo].[STATUSASSETS] ([ID_status])
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS] CHECK CONSTRAINT [FK_PRODASSETS_STATUS]
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_PRODASSETS_SUPPLIER] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[SUPPLIERS] ([id])
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS] CHECK CONSTRAINT [FK_PRODASSETS_SUPPLIER]
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_PRODASSETS_UNIT] FOREIGN KEY([unit])
REFERENCES [dbo].[Unit] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS] CHECK CONSTRAINT [FK_PRODASSETS_UNIT]
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_PRODASSETS_WORKSHOP] FOREIGN KEY([workshop_id])
REFERENCES [dbo].[WORKSHOPS] ([id])
GO
ALTER TABLE [dbo].[PRODUCTION_ASSETS] CHECK CONSTRAINT [FK_PRODASSETS_WORKSHOP]
GO
ALTER TABLE [dbo].[REPORTS]  WITH CHECK ADD  CONSTRAINT [FK_REPORTS_MASTER] FOREIGN KEY([generated_by])
REFERENCES [dbo].[MASTERS] ([id])
GO
ALTER TABLE [dbo].[REPORTS] CHECK CONSTRAINT [FK_REPORTS_MASTER]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ROLES] FOREIGN KEY([role_id])
REFERENCES [dbo].[ROLES] ([id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ROLES]
GO
ALTER TABLE [dbo].[WORK_ACTS]  WITH CHECK ADD  CONSTRAINT [FK_WORKACTS_ASSET] FOREIGN KEY([asset_id])
REFERENCES [dbo].[PRODUCTION_ASSETS] ([id])
GO
ALTER TABLE [dbo].[WORK_ACTS] CHECK CONSTRAINT [FK_WORKACTS_ASSET]
GO
ALTER TABLE [dbo].[WORK_ACTS]  WITH CHECK ADD  CONSTRAINT [FK_WORKACTS_EQUIPMENT] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[EQUIPMENT] ([ID])
GO
ALTER TABLE [dbo].[WORK_ACTS] CHECK CONSTRAINT [FK_WORKACTS_EQUIPMENT]
GO
ALTER TABLE [dbo].[WORK_ACTS]  WITH CHECK ADD  CONSTRAINT [FK_WORKACTS_MASTER] FOREIGN KEY([master_id])
REFERENCES [dbo].[MASTERS] ([id])
GO
ALTER TABLE [dbo].[WORK_ACTS] CHECK CONSTRAINT [FK_WORKACTS_MASTER]
GO
ALTER TABLE [dbo].[WORK_ACTS]  WITH CHECK ADD  CONSTRAINT [FK_WORKACTS_STATUS] FOREIGN KEY([status])
REFERENCES [dbo].[ActStatus] ([ID_status])
GO
ALTER TABLE [dbo].[WORK_ACTS] CHECK CONSTRAINT [FK_WORKACTS_STATUS]
GO
ALTER TABLE [dbo].[WORK_ACTS_MATERIALS]  WITH CHECK ADD  CONSTRAINT [FK_WAM_ASSET] FOREIGN KEY([asset_id])
REFERENCES [dbo].[PRODUCTION_ASSETS] ([id])
GO
ALTER TABLE [dbo].[WORK_ACTS_MATERIALS] CHECK CONSTRAINT [FK_WAM_ASSET]
GO
ALTER TABLE [dbo].[WORK_ACTS_MATERIALS]  WITH CHECK ADD  CONSTRAINT [FK_WAM_WORKACT] FOREIGN KEY([work_act_id])
REFERENCES [dbo].[WORK_ACTS] ([id])
GO
ALTER TABLE [dbo].[WORK_ACTS_MATERIALS] CHECK CONSTRAINT [FK_WAM_WORKACT]
GO
ALTER TABLE [dbo].[WORKSHOPS]  WITH CHECK ADD  CONSTRAINT [FK_WORKSHOPS_MASTERS] FOREIGN KEY([manager_id])
REFERENCES [dbo].[MASTERS] ([id])
GO
ALTER TABLE [dbo].[WORKSHOPS] CHECK CONSTRAINT [FK_WORKSHOPS_MASTERS]
GO
